<form id="userForm">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Enter Name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input type="number" matInput placeholder="Enter Age">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input type="number" matInput placeholder="Enter Phone No.">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter Email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Password">
    </mat-form-field>

    <button mat-button>Save Details</button>
</form>