/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-weight: 200;
  background-color: rgb(34, 32, 32);
  color: rgb(101, 244, 149);
}

html,
body {
  height: 100%;
}
